body, html {
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background-image: url('../assets/sunrisemtr.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  font-family: 'Lobster', sans-serif;
}


main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: #00377A;
  text-align: center;
  margin: 20px 0 40px; 
  font-size: 2.5em;
}

#site-footer {
  width: 100%;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.notebook {
  width: 700px;
  height: 700px;
  background-color: transparent;
  position: relative;
  transition: transform 1s;
}
body {
  padding-bottom: 60px; 
  width: 100%;
}


.notebook {
  width: 700px;
  height: 700px;
  background-color: transparent;
  position: relative;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 1s;
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-image: url('../assets/techcityappbooknobg.png');
  background-size: cover;
  z-index: 2;
}

.lock {
  width: 40px;
  height: 60px;
  background-image: url('lock-icon.png'); 
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.notebook-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: grabbing;
}

.cover, .content {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.cover {
  
  z-index: 2;
}

.content {

  background-color: white;
  transform: rotateY(180deg); 
}


.notebook.flipped .notebook-inner {
  transform: rotateY(180deg);
  
}



